 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <h3 class="logo collapse"><BR /><BR />{{ site.description }}</h3>
         <nav class="nav-collapse">
             <ul class="noList">
                 <li class="element">
                     <a href="{{ site.baseurl }}/">Home</a>
                 </li>
                 {% for p in site.pages %}
                 {% if p.layout == "page" %}
                 <li class="element">
                     <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                 </li>
                 {% endif %}
                 {% endfor %}
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
