 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <h3 class="logo collapse"><BR /><BR />{{ site.description }}</h3>
         <nav class="nav-collapse">
             <ul class="noList">
                 <li class="element">
                     <a href="{{ site.baseurl }}/">Home</a>
                 </li>
                 {% for p in site.pages %}
                 {% if p.layout == "page" %}
                 {% if p.title != "Thank You" %}
                 <li class="element">
                     <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                 </li>
                 {% endif %}
                 {% endif %}
                 {% endfor %}
             </ul>
         </nav>
     </div>
      <a id="mlh-trust-badge" style="position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>
 </div><!-- end .header -->
